<div class = "about">
    <h1>Sobre</h1>

        <h2>Trabalho Final da Disciplina de Programação WEB 2</h2>

            <h3>
                Professora: Elizângela de Souza Rebouças<br><br>

                <b>Equipe:</b><br>

                <li>Maria Luciana Almeida Pereira</li>
                <li>Paulo Cesar Monteiro da Costa</li>
                <li>Rui Duarte do Nascimento Junior</li>
                <li>Thaila Morais Mendes</li><br>

                <b>Tecnologias utilizadas:</b>

                <li>NodeJS</li>
                <li>express</li>
                <li>nodemon</li>
                <li>mysql</li>
                <li>handlebars</li>
            </h3>
</div>