<nav>
	<a href="/">
		<div class="form-header">
			<div class="header1">
				<img src="../public/img/logo.png" alt="">
			</div>
			<div class="header2">
				<h1>Biblioteca</h1>
				<h2>Controle de Livros</h2>
			</div>
		</div>
	</a>
	<ul>
		<li><a href="/signup">Cadastro</a></li>
		<li><a href="/sobre" class="active">Sobre</a></li>
		<li><a href="tel:+558533430202" target="_blank">(85) 3343-0202</a></li>
	</ul>
</nav>

<div class = "about">
    <h1>Sobre</h1>

    <h2>Trabalho Final da Disciplina de Programação WEB II</h2>

    <h3>
        Professora: Elizângela de Souza Rebouças<br><br>
    </h3>
    <b>Equipe:</b><br>

    <li>Maria Luciana Almeida Pereira</li>
    <li>Paulo Cesar Monteiro da Costa</li>
    <li>Rui Duarte do Nascimento Junior</li>
    <li>Thaila Morais Mendes</li><br>
</div>