@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

* {
    margin: 0;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B9BAFE; 
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;   
    color: #2B2136;
    padding-bottom: 10vh;
}

nav {
    display: flex;
    margin: 10px 50px;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0px 15px;
}

#logo {
    width: 35px;
    height: 35px;
}

a:link {
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    transition: 0.3s;
}

a:visited {
    color: black;
}

a.active {
    color: white;
    font-weight: 700;
}

a:hover {
    color: white;
}

.container {
    width: 50%;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
}

.container h2 {
    margin-top: 100px;
}

.form-header {    
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-header .sair {
    background-color: #2B2136;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.form-header p {
    margin: 0px 520px 0px 0px;
    color: white;   
    font-size: 25px; 
    font-weight: bolder;
}

.header1 {
    padding-right: 1.5rem;
}

.header2 h1, h2 {
    font-family: 'Tauri', sans-serif;
    font-weight: 400;
}

.header2 h1 {
    font-size: 40;
    color: #2B2136;
}

.header2 h2 {
    font-size: larger;
    color: white;
}

button {
    margin-top: 2rem;
    border: none;
    background-color: #2B2136;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 0.4rem;
    padding: 0.9rem 0;
    padding-left: auto;
    padding-right: auto;
    cursor: pointer;
    transition: 0.3s;
    padding: 1rem;
}

button:hover {
    background-color: black;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input, select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.input-box input:focus-visible {
    outline: 0px;
    background-color: #eeeeee75;
}

.input-box select:focus-visible {
    outline: 0px;
}

.input-box {
    padding-top: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.filter-box button {
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filter button {
    margin: 1rem 0 0 1rem;
}
table {
    margin-top: 1rem;
    text-align: center;
}

tr {
    height: 3rem;
}

th {
    border-bottom: 1px solid #F8F7F9;
    border-top: 1px solid #F8F7F9;
    height: 3rem;
}

.title {
    width: 70vh;
}

.pages {
    width: 25%;
}

.acoes {
    width: 25%;
}

#editar{
    color: #F0AD02;
    margin-right: 2rem;
}

#trash{
    color:#EA6055;
}

.about {
    margin: 30px 20px 20px 20px;
    width: 90%;   
    height: 100%;
}

.about h1{ 
    margin: 30px 0px 20px 0px;
}

.about h2{ 
    margin: 30px 0px 20px 0px;
}

.about h3{ 
    margin: 30px 0px 20px 0px;
}

.about li {
    margin: 10px 0px 0px 10px;
}

.about b {
    margin: 10px 0px 50px 10px;
}

#edit{
    margin-top: 50px;
}

.errors {
    color: white;
    background-color: #EA6055;
    border-radius: 10px;
    padding: 1rem;
}

@media (min-width: 280px) and (max-width: 900px) {
    body {
        width: 100%;
        height: 160vh;
    }

    .container {
        width: 90%;
        padding: 2rem;
    }
}